* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  ul,li{
      list-style: none;
  }
  body {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
  }
  .container{
      width: 100%;
      
  }
  #hangMan {
    display: none;
    border: 3px dashed #047a9d;
    position: relative;
    width: 457px;
    height: 335px;
    padding: 20px;
    margin: 20px auto;
        }
        .indicator {
      z-index: 9;
      position: absolute;
      padding: 10px;
      top: 0;
      right: 0;
      color: #047a9d;
      font-size: 20px;
    }
    .hangman {
      width: 300px;
      margin: 0 auto;
      position: relative;
    }
        .wrapperMan {
          margin-top: 0px !important;
        }
      .base {
        visibility: visible;
        height: 50px;
        width: 100px;
        background: #0664f1;
        border-radius: 50px 50px 0 0;
        top: 243px;
        position: absolute;
      }
      .base::after{
        content: " ";
          width: 100px;
          height: 10px;
          background: #073161;
          position: absolute;
          bottom: 0; 
      }
      .pole {
        height: 245px;
        width: 10px;
        background: #047a9d;
        margin-left: 45px;
        opacity: 0;
        transition: height .5s ease-in;
        position: absolute;
      }
      .shaft {
        height: 5px;
        width: 250px;
        background: #047a9d;
        opacity: 0;
        transition: transform .5s ease-in;
      }
      .rope {
        height: 50px;
        width: 1px;
        background: #047a9d;
        left: 240px;
        top: 0;
        position: absolute;
        opacity: 0;
        transition: top .5s ease-in;

      }
      .man {
        height: 200px;
        width: 100px;
        position: absolute;
        top: 50px;
        left: 190px;
        display: none;
        transition: top .5s ease-in;
        
      }
          .wrapperMan {
          position: relative;
          margin-top: -20px;
        }
        .wrapperMan > div::before,.wrapperMan > div::after{
            background: #2c2b2c;
              content: "";
              position: absolute;
        }
          .face {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            margin-left: 25px;
            background: #2c2b2c;
            opacity: 0.2;
            text-align: center;
            /* display: none; */
          }
          .face::after{
            height: 100px;
              width: 2px;
              top: 50px;
              left: 50px; 
          }
          .eyes{
            font-size: 20px;
            color: #fff;
            display: none;
          }
          .mouth{
            font-size: 20px;
            color: #fff;
            display: none;
          }
          .hands {
            height: 99px;
          }
          .hands,
          .legs {
            transition:transform 0.2s linear;
            opacity: 0.2;
            }
            .hands::after, .legs::after{
              height: 2px;
              width: 50px;
              transform: rotate(-45deg);
              transform-origin: 100% 0%;  
            }
            .hands::before, .legs::before{
                height: 2px;
              width: 50px;
              transform: rotate(45deg);
              transform-origin: 0% 100%;
              right: 0;
            }
  .startBtn {
    border: 4px double;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(80, 79, 79);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-radius: 17px;
    font-size: 27px;
    font-family: 'Righteous', cursive;
    transition: all .3s ease-in;  
  }
  .startBtn:hover{
    background-color: rgb(216, 211, 211);
    color: rgb(104, 102, 102);
  }
  .content_container{
    width: 550px;
    height: 150px;
    margin: 20px auto;
    border: 10px double rgb(46, 45, 46);
    padding: 15px;  
    border-radius: 10px;
    background-color: rgb(202, 201, 202);
  }
  .select_content{
      /* width: 360px; */
      height: 100%;
      border: 1px solid #000;
      border-radius: 15px;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: rgb(46, 45, 46);
      text-align: center;
      color: rgb(230, 221, 221);
  }
  .h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p{
    /* color: #fff; */
  }
  .ul{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(70, 67, 70);
    box-shadow: 0px 2px 35px -2px rgba(0,0,0,0.75);

  }
  .li{
      width: 105px;
      padding: 35px 0px;
      height: 100px;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      border: 2px solid rgb(250, 252, 252);
      border-radius: 20px;
      margin-bottom: 10px;
      background-color: #ccc;
      box-shadow: 0px 2px 35px -11px rgba(207, 203, 203, 0.75);
      font-family: 'Righteous', cursive;
      cursor: pointer;
      transition: all .3s ease-in;
  }
  .li:hover{
    background-color: rgb(70, 67, 70);
    color: #fff;
  }
  .letters{
    width: 415px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;    
  }
  .letters_spans{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: -3px 2px 75px -6px rgba(0,0,0,0.75);
    background-color: rgb(50, 50, 146);
    color: #fff;
    text-align: center;
    padding-top: 3px;
    font-size: 24px;
    vertical-align: middle;
    margin: 2px 3px;
  }
  .finding_word{
    width: 410px;
    margin: 35px auto;
    text-align: center;
  }
  .words_letters{
    padding: 8px;
    font-size: 30px;
    margin: 0 3px;
  }
  .next_btn_container, .game_over_container{
    text-align: center;
  }
  .next_btn, .game_over{
    border: 4px double;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 28px;
    display: none;
    margin: 0 auto;
    color: #fff;
    background-color: rgb(32, 33, 122);
    font-family: 'Righteous', cursive;
    transition: all .3s ease-in-out;
  }
  .next_btn:hover,.game_over:hover{
    background-color: rgb(197, 205, 211);
    color: #000;
  }
  .fas{
    margin-left: 5px;
  }
  .far{
    font-size: 24px;
  }